<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcademicCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AcademicCenter.Properties.Settings>
            <setting name="Discipline" serializeAs="String">
                <value>"Компьютерные сети"</value>
            </setting>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TXT</string>
                        <string>DOC</string>
                        <string>DOCX</string>
                        <string>XLS</string>
                        <string>XLSX</string>
                        <string>PDF</string>
                        <string>MOV</string>
                        <string>AVI</string>
                        <string>MP4</string>
                        <string>MP3</string>
                        <string>BMP</string>
                        <string>JPEG</string>
                        <string>PNG</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AcademicCenter.Properties.Settings>
    </userSettings>
</configuration>